@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap);
* {
  font-family: Open Sans, sans-serif;
}
:focus {
  outline: none;
}
body,
html {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000;
  color: #000;
}
main {
  display: grid;
  grid-template-columns: auto auto;
}
.info-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
.info-box .info {
  background-color: #33373e;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 30px;
  border-radius: 5px;
}
.info-box .info .inner-info-icon {
  font-size: 70px;
  background-color: #15181d;
  color: #33373e;
  width: 90px;
  height: 90px;
  padding: 10px;
  border-radius: 50%;
}
.info-box .info .inner-info-icon svg {
  margin-left: 10px;
  margin-top: 10px;
}
.info-box .info #shop {
  color: #0b5180;
}
.info-box .info #money {
  color: #14d89d;
}
.projectsBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  margin-bottom: 20px;
}
.chart-holder {
  height: 50vh;
  background-color: #33373e;
  margin: 20px 0;
  border-radius: 5px;
}
.chart-holder span {
  display: grid;
  grid-template-columns: auto auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.chart-holder span span {
  padding: 12px;
  border-radius: 0 5px 5px 0;
  background-color: #15181d;
  color: #fff;
  font-size: 12px;
}
.chart-holder span #error {
  border-radius: 5px 0 0 5px;
  color: #d2365b;
  background-color: #fff;
}
.chart-holder span #error svg {
  transform: translateY(-5%);
}
.underline {
  height: 4px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: #33373e;
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.underline #first {
  width: 63px;
}
.underline #first,
.underline #second {
  background-color: #fff;
  border-radius: 2px;
}
.underline #second {
  width: 77px;
}
.createBox {
  padding: 20px;
  text-align: center;
  background-color: #33373e;
  border-radius: 5px;
  margin-bottom: 20px;
}
.createBox input {
  margin-top: 10px;
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #15181d;
  font-family: Open Sans, sans-serif;
  color: #fff;
}
