.styled_headingOne__21nuP {
  font-size: 45px;
  line-height: 61px;
  font-weight: 700;
  color: #fff;
}
.styled_headingTwo__OJk66 {
  font-size: 35px;
  line-height: 47px;
  font-weight: 600;
  color: #fff;
}
.styled_headingTwo__OJk66 [type="link"] {
  color: #53a0fe;
}
.styled_headingThree__3PpaH {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
  margin-right: 30px;
}
.styled_headingThree__3PpaH [type="secondary"] {
  color: #949ba5;
}
.styled_headingFour__gFd9D {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}
.styled_headingFour__gFd9D [type="secondary"] {
  color: #949ba5;
}
.styled_link__3PK8R {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #53a0fe;
  text-decoration: none;
}
.styled_detailText__Tq3R4 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
}
.styled_detailText__Tq3R4 [type="link"] {
  color: #53a0fe;
}
.styled_detailText__Tq3R4 [type="active"] {
  color: #14d89d;
}
.styled_button__3dkk- {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  background-color: #53a0fe;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  float: right;
}
.styled_button__3dkk- [type="link"] {
  color: #53a0fe;
}
.styled_button__3dkk-:hover {
  box-shadow: none;
  color: #fff;
  background-color: #15181d;
}
.styled_projectButton__2fXxz {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background-color: #53a0fe;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.styled_projectButton__2fXxz [type="link"] {
  color: #53a0fe;
}
.styled_projectButton__2fXxz:hover {
  box-shadow: none;
  color: #fff;
  background-color: #15181d;
}
.styled_menuButton__RDWMP {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background-color: #53a0fe;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background-color: #444a54;
}
.styled_menuButton__RDWMP [type="link"] {
  color: #53a0fe;
}
.styled_menuButton__RDWMP:hover {
  box-shadow: none;
  color: #fff;
  background-color: #15181d;
}
.styled_navButton__2V7H3 {
  width: 298px;
  height: 60px;
  border-right: 2px solid #33373e;
}
.styled_navButton__2V7H3 a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 60px;
  color: #fff;
  background-color: #33373e;
  transition: filter 0.1s ease-in-out;
}
.styled_navButton__2V7H3 a svg {
  vertical-align: middle !important;
  color: #15181d;
  transition: color 0.1s ease-in-out;
  margin-right: 15px;
  margin-left: 30px;
  margin-bottom: 3px;
}
.styled_navButton__2V7H3 a:hover {
  cursor: pointer;
}
.styled_navButton__2V7H3 a:hover svg {
  color: #fff;
}
.styled_selected__1oBwT {
  width: 298px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: #444a54;
  border-right: 2px solid #fff;
}
.styled_selected__1oBwT svg {
  vertical-align: middle !important;
  color: #fff;
  transition: color 0.1s ease-in-out;
  margin-right: 15px;
  margin-left: 30px;
  margin-bottom: 3px;
}
.styled_banner__3DzGh {
  margin: 30px 0;
}
.top_topNav__rmFV9 {
  height: 80px;
  background-color: #33373e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.top_topNav__rmFV9 .top_logo__uAwBO {
  padding-left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  gap: 15px;
}
.top_topNav__rmFV9 .top_logo__uAwBO text {
  height: 60px;
  border-right: 2px solid #444a54;
  line-height: 60px;
  font-size: 32px;
  font-weight: 100;
  color: #fff;
  margin-top: 10px;
  padding-right: 30px;
}
.top_topNav__rmFV9 .top_logo__uAwBO img {
  max-width: 50px;
  min-width: 50px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
.top_topNav__rmFV9 .top_mid__3VZFp {
  display: grid;
  grid-template-columns: auto 1fr;
}
.top_topNav__rmFV9 .top_mid__3VZFp .top_page__1-0S4 {
  height: 60px;
  border-right: 2px solid #444a54;
  line-height: 60px;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  margin-top: 10px;
  padding: 0 30px;
}
.top_topNav__rmFV9 .top_mid__3VZFp .top_create__zL8Aj {
  padding: 25px 30px;
}
.top_topNav__rmFV9 .top_username__2fGUh {
  padding-right: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  gap: 15px;
}
.top_topNav__rmFV9 .top_username__2fGUh text {
  height: 60px;
  border-left: 2px solid #444a54;
  line-height: 60px;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  margin-top: 10px;
  padding-left: 30px;
}
.top_topNav__rmFV9 .top_username__2fGUh img {
  max-width: 50px;
  min-width: 50px;
  border-radius: 50%;
  margin-top: 15px;
  filter: grayscale(100%);
}
.side_sideNav__3lm4- {
  min-height: calc(100vh - 112px);
  width: 300px;
  background-color: #33373e;
  border-right: 1px solid #444a54;
}
.side_sideNav__3lm4- .side_top__KpI1C {
  height: calc(100vh - 182px);
  padding-top: 10px;
}
.side_sideNav__3lm4- .side_divider__1mRfp {
  margin: 10px;
  border: 1px solid #444a54;
}
.side_sideNav__3lm4- .side_bottom__21_k8 {
  padding-bottom: 10px;
}
.canvas_canvas__366_j {
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  min-width: calc(100vw - 501px);
  max-width: calc(100vw - 501px);
  padding: 0 85px 0 115px;
  background-color: #15181d;
}
.canvas_canvas__366_j .canvas_canvasHome__3MM28 {
  max-height: calc(100vh - 201px);
  max-width: calc(100vw - 531px);
  min-height: calc(100vh - 201px);
  min-width: calc(100vw - 531px);
  overflow-y: scroll;
  padding-right: 15px;
}
.canvas_canvas__366_j .canvas_canvasHome__3MM28::-webkit-scrollbar {
  width: 15px;
}
.canvas_canvas__366_j .canvas_canvasHome__3MM28::-webkit-scrollbar-track {
  background: transparent;
}
.canvas_canvas__366_j .canvas_canvasHome__3MM28::-webkit-scrollbar-thumb {
  background: #33373e;
  border-radius: 5px;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.canvas_canvas__366_j .canvas_canvasHome__3MM28::-webkit-scrollbar-thumb:hover {
  background: #444a54;
}
.project_project__22T0y {
  background-color: #33373e;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
}
.project_project__22T0y .project_thumb__2e3uY {
  width: 100%;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
.project_project__22T0y .project_details__4OyhU {
  padding: 10px;
}
.project_project__22T0y .project_details__4OyhU .project_lower__3QKhm,
.project_project__22T0y .project_details__4OyhU .project_upper__22I3C {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5px;
}
.project_project__22T0y:hover {
  background-color: #444a54;
  cursor: pointer;
}
.project_project__22T0y:hover .project_thumb__2e3uY {
  filter: brightness(70%);
}
.project_more__33FO7 svg {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
}
.project_more__33FO7 svg:hover {
  background-color: #15181d;
  cursor: pointer;
}
.project_inactive__2J4JM {
  color: #d2365b;
}
.project_active__31lTo {
  color: #14d89d;
}
