@import '../variables';

.video_card {
  max-width: 300px;
  max-height: 250px;
  display: grid;
  grid-template-rows: auto auto;
  letter-spacing: 0.1rem;

  &:hover {
    cursor: pointer;
  }

  .thumbnail {
    max-width: 300px;
    pointer-events: none;
  }

  .info {
    padding: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.6rem;
    pointer-events: none;

    .title {
      font-size: 0.8rem;
    }

    .timestamp {
      font-size: 0.6rem;
    }
  }
}

.projectRoot {
  min-width: 100%;
  min-height: 100%;
  .top {
    min-width: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    height: 30px;
    line-height: 30px;
    span {
      padding: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .projectList {
    overflow-y: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
    min-height: calc(100vh - 117px);
    max-height: calc(100vh - 117px);

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      padding: 5px;
    }

    &::-webkit-scrollbar-thumb {
      margin-left: 10px;
    }
  }
}
