/** Colors **/
//backgrounds
$primary-background: #15181d;
$secondary-background: #33373e;
$highlight-background: #444a54;

//buttons
$primary-button: #53a0fe;
$secondary-button: #0b5180;

//text
$primary-text: #ffffff;
$secondary-text: #949ba5;
$active-text: #14d89d;
$inactive-text: #d2365b;
$link-text: $primary-button;
$visited-link-text: $secondary-button;

//metrics
$metrics-one: $active-text;
$metrics-two: $inactive-text;
$metrics-three: #ff7750;
$metrics-four: #08b0d6;

//timeline
$product-one: #bc807c;
$product-two: #9e4044;
