@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
$font: "Open Sans", sans-serif;

* {
  font-family: $font;

  &:focus {
    outline: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: black;
}

main {
  display: grid;
  grid-template-columns: auto auto;
}

.info-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .info {
    background-color: $secondary-background;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 30px;
    border-radius: 5px;

    .inner-info-icon {
      font-size: 70px;
      background-color: $primary-background;
      color: $secondary-background;
      width: 90px;
      height: 90px;
      padding: 10px;
      border-radius: 50%;

      svg {
        margin-left: 10px;
        margin-top: 10px;
      }
    }

    #shop {
      color: $secondary-button;
    }

    #money {
      color: $active-text;
    }
  }
}

.projectsBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.chart-holder {
  height: 50vh;
  background-color: $secondary-background;
  margin: 20px 0;
  border-radius: 5px;

  span {
    display: grid;
    grid-template-columns: auto auto;
    max-width: fit-content;
    max-height: 30px;
    border-radius: 5px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    span {
      padding: 12px;
      border-radius: 0 5px 5px 0;
      background-color: $primary-background;
      color: $primary-text;
      font-size: 12px;
    }

    #error {
      border-radius: 5px 0 0 5px;
      color: $inactive-text;
      background-color: $primary-text;
      svg {
        transform: translateY(-5%);
      }
    }
  }
}

.underline {
  height: 4px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: $secondary-background;
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto 1fr;
  #first {
    background-color: $primary-text;
    border-radius: 2px;
    width: 63px;
  }

  #second {
    background-color: $primary-text;
    border-radius: 2px;
    width: 77px;
  }
}

.createBox {
  padding: 20px;
  text-align: center;
  background-color: $secondary-background;
  border-radius: 5px;
  margin-bottom: 20px;

  input {
    margin-top: 10px;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: $primary-background;
    font-family: $font;
    color: $primary-text;
  }
}
