@import './variables';

/** Fonts **/
.headingOne {
  font-size: 45px;
  line-height: 61px;
  font-weight: 700;
  color: $primary-text;
}

.headingTwo {
  font-size: 35px;
  line-height: 47px;
  font-weight: 600;
  color: $primary-text;

  [type='link'] {
    color: $link-text;
  }
}

.headingThree {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: $primary-text;
  margin-right: 30px;

  [type='secondary'] {
    color: $secondary-text;
  }
}

.headingFour {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text;

  [type='secondary'] {
    color: $secondary-text;
  }
}

.link {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: $link-text;
  text-decoration: none;
}

@mixin button-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-text;

  [type='link'] {
    color: $link-text;
  }
}

.detailText {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: $primary-text;

  [type='link'] {
    color: $link-text;
  }

  [type='active'] {
    color: $active-text;
  }
}

/** buttons **/
@mixin base-button(
  $width: 100px,
  $shadow: 0 3px 6px #00000066,
  $hover-bg: $primary-background,
  $hover-color: $primary-text,
  $bg: $primary-button
) {
  @include button-text;

  width: $width;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  background-color: $primary-button;
  transition: all 100ms ease-in-out;

  cursor: pointer;

  &:hover {
    box-shadow: none;
    color: $hover-color;
    background-color: $hover-bg;
  }
}

@mixin long-button(
  $bg: $primary-button,
  $hover-bg: $primary-background,
  $hover-color: $primary-text
) {
  @include base-button(150px, none, $hover-bg, $hover-color, $bg);
}

.button {
  @include base-button;
  float: right;
}

.projectButton {
  @include base-button(150px, none);
}

.menuButton {
  @include base-button(150px, none);
  background-color: $highlight-background;
}

.navButton {
  width: 298px;
  height: 60px;
  border-right: 2px solid $secondary-background;
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 60px;
    color: $primary-text;
    background-color: $secondary-background;
    transition: filter 100ms ease-in-out;

    svg {
      vertical-align: middle !important;
      color: $primary-background;
      transition: color 100ms ease-in-out;
      margin-right: 15px;
      margin-left: 30px;
      margin-bottom: 3px;
    }

    &:hover {
      cursor: pointer;
      svg {
        color: $primary-text;
      }
    }
  }
}

.selected {
  width: 298px;
  height: 60px;
  line-height: 60px;
  color: $primary-text;
  background-color: $highlight-background;
  border-right: 2px solid $primary-text;

  svg {
    vertical-align: middle !important;
    color: $primary-text;
    transition: color 100ms ease-in-out;
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 3px;
  }
}

.banner {
  margin: 30px 0;
}
