@import "../variables";

.canvas {
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  min-width: calc(100vw - 301px - 200px);
  max-width: calc(100vw - 301px - 200px);
  padding: 0 85px 0 115px;

  background-color: $primary-background;

  .canvasHome {
    max-height: calc(100vh - 80px - 121px);
    max-width: calc(100vw - 301px - 230px);
    min-height: calc(100vh - 80px - 121px);
    min-width: calc(100vw - 301px - 230px);
    overflow-y: scroll;
    padding-right: 15px;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $secondary-background;
      border-radius: 5px;
      transition: background 100ms ease-in-out;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $highlight-background;
    }
  }
}
