@import "../variables";

.project {
  background-color: $secondary-background;
  border-radius: 5px;
  transition: background-color 100ms ease-in-out;
  .thumb {
    width: 100%;
    margin: 0;
    border-radius: 5px 5px 0 0;
  }
  .details {
    padding: 10px;
    .upper,
    .lower {
      display: grid;
      grid-template-columns: auto auto;
      margin-bottom: 5px;
    }
  }

  &:hover {
    background-color: $highlight-background;
    cursor: pointer;
  }
}

.more {
  svg {
    color: $primary-text;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: $primary-background;
      cursor: pointer;
    }
  }
}

.inactive {
  color: $inactive-text;
}

.active {
  color: $active-text;
}
