@import '../variables';

.sideNav {
  min-height: calc(100vh - 80px - 32px);
  width: 300px;
  background-color: $secondary-background;
  border-right: 1px solid $highlight-background;

  .top {
    height: calc(100vh - 80px - 60px - 32px - 10px);
    padding-top: 10px;
  }

  .divider {
    margin: 10px;
    border: 1px solid $highlight-background;
  }

  .bottom {
    padding-bottom: 10px;
  }
}
