@import "../variables";

.topNav {
  height: 80px;
  background-color: $secondary-background;
  box-shadow: 0 3px 6px #00000066;
  z-index: 1000;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;

  .logo {
    padding-left: 30px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;

    text {
      height: 60px;
      border-right: 2px solid $highlight-background;
      line-height: 60px;
      font-size: 32px;
      font-weight: 100;
      color: $primary-text;
      margin-top: 10px;
      padding-right: 30px;
    }

    img {
      max-width: 50px;
      min-width: 50px;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0 3px 6px #00000066;
    }
  }

  .mid {
    display: grid;
    grid-template-columns: auto 1fr;

    .page {
      height: 60px;
      border-right: 2px solid $highlight-background;
      line-height: 60px;
      font-size: 20px;
      font-weight: 100;
      color: $primary-text;
      margin-top: 10px;
      padding: 0 30px 0 30px;
    }

    .create {
      padding: 25px 30px;
    }
  }

  .username {
    padding-right: 30px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;

    text {
      height: 60px;
      border-left: 2px solid $highlight-background;
      line-height: 60px;
      font-size: 20px;
      font-weight: 100;
      color: $primary-text;
      margin-top: 10px;
      padding-left: 30px;
    }

    img {
      max-width: 50px;
      min-width: 50px;
      border-radius: 50%;
      margin-top: 15px;
      filter: grayscale(100%);
    }
  }
}
